
#img1{
	position:relative;
	 border-right:1050px solid navy;
}

#img2{
	background-color:navy;
	position:relative;
	left:0px;
}


#menu{
background-color:yellow;
	padding: 0px;
	position: sticky;
	top: 0px;
}

li{
	display:inline-block;
}

li:hover{
	background-color:blue;
}

